{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{name}}{{lastname}}</h1>
            <p class="lead">Détails</p>
            <hr class="my-4">
                <ul>   
                    <li>{{phoneNumber}}</li>
                    <li>{{adress}},{{city}}</li>
                    <li>{{age}} ans</li>
                </ul>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
</section>
{% endblock %}
