{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}
<section>
    <div class="container">
        <div class="sm-12-col">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>Email: {{ app.user.email }}</p>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Téléphone</td>
                    <td>Catégorie</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    {% for contact in listContact %}
                        {# {% if contact.age > 18  %} #}
                            <tr>
                                <td> {{contact.id}}</td>
                                <td>{{ contact.name }}</td>
                                <td> {{ contact.lastname }}</td>
                                <td> {{ contact.phoneNumber }}</td>
                                <td> {{ contact.category.titre }}</td>
                                <td>
                                    <a href="{{path('contact_id', {id: contact.id}) }}" type="button" class="btn btn-info">Afficher</a>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{path('edit_contact', {id: contact.id}) }}" type="button" class="btn btn-warning">Modifier</a>
                                    <a href="" type="button" class="btn btn-danger">Supprimer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {# {% endif %} #}
                    {% endfor %}
                </tbody>
            </table>
        </div>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
    </div>
</section>
{% endblock %}
