{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="sm-12-col">
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Téléphone</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    {% for contact in listContact %}
                            <tr>
                                <td> {{contact.id}}</td>
                                <td>{{ contact.name }}</td>
                                <td> {{ contact.lastname }}</td>
                                <td> {{ contact.phoneNumber }}</td>
                                <td>
                                    <a href="{{path('contact_id', {id: contact.id}) }}" type="button" class="btn btn-info">Afficher</a>
                                    <a href="{{path('edit_contact', {id: contact.id}) }}" type="button" class="btn btn-warning">Modifier</a>
                                    <a href="" type="button" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
